@use '../../App.scss';

.russian {
    marquee {
        display: flex;
        align-items: center;
        gap: 30px;
        background: #0EB182;
        font-size: 30px;
        padding: 30px 0px;
        color: #FFF;
    }

    &__linkBtn {
        text-align: center;
        display: block;
        margin: 70px auto;
        background: transparent;
        font-size: 33px;
        padding: 20px 40px;
        border: 3px solid #0EB182;
        font-weight: 700;
    }
}